body,
html {
	height: 100%;
	font-family: 'Moderat Trial';
}

.clearfix {
	clear: both;
}

.ni_main_banner {
	margin-bottom: 0;
}

.ni_intro_text {
	background-color: #65C14E;
	padding-top: 60px;
	padding-bottom: 55px;

	p {
		font-weight: 300;
		color: #FFFFFF;
		font-size: 23px;

		strong {
			font-weight: bold;
		}
	}
}

.ni_info_valid_institutes {
	background-color: #60C338;
	padding-top: 60px;
	padding-bottom: 55px;

	figure {
		display: block;
		text-align: center;

		img {
			width: 100%;
			max-width: 100%;
		}
	}
}